assets/* filter=lfs diff=lfs merge=lfs -text
public/assets/Base_S[[:space:]][Gold[[:space:]]and[[:space:]]Dark[[:space:]]Wood].png filter=lfs diff=lfs merge=lfs -text
public/assets/HippoGriffe_S[[:space:]][Gold[[:space:]]and[[:space:]]Dark[[:space:]]Wood].png filter=lfs diff=lfs merge=lfs -text
public/assets/Upholstery_N[[:space:]][Gold[[:space:]]and[[:space:]]Dark[[:space:]]Wood].png filter=lfs diff=lfs merge=lfs -text
public/assets/Upholstery_D[[:space:]][Gold[[:space:]]and[[:space:]]Dark[[:space:]]Wood].png filter=lfs diff=lfs merge=lfs -text
public/assets/HippoGriffe_N[[:space:]][Gold[[:space:]]and[[:space:]]Dark[[:space:]]Wood].png filter=lfs diff=lfs merge=lfs -text
public/assets/Upholstery_G[[:space:]][Gold[[:space:]]and[[:space:]]Dark[[:space:]]Wood].png filter=lfs diff=lfs merge=lfs -text
public/assets/Upholstery_S[[:space:]][Gold[[:space:]]and[[:space:]]Dark[[:space:]]Wood].png filter=lfs diff=lfs merge=lfs -text
public/assets/Base_G[[:space:]][Gold[[:space:]]and[[:space:]]Dark[[:space:]]Wood].png filter=lfs diff=lfs merge=lfs -text
public/assets/Base_N[[:space:]][Gold[[:space:]]and[[:space:]]Dark[[:space:]]Wood].png filter=lfs diff=lfs merge=lfs -text
public/assets/HippoGriffe[[:space:]]Chair.mtl filter=lfs diff=lfs merge=lfs -text
public/assets/HippoGriffe[[:space:]]Chair.FBX filter=lfs diff=lfs merge=lfs -text
public/assets/HippoGriffe[[:space:]]Chair.obj filter=lfs diff=lfs merge=lfs -text
public/assets/HippoGriffe_D[[:space:]][Gold[[:space:]]and[[:space:]]Dark[[:space:]]Wood].png filter=lfs diff=lfs merge=lfs -text
public/assets/HippoGriffe_G[[:space:]][Gold[[:space:]]and[[:space:]]Dark[[:space:]]Wood].png filter=lfs diff=lfs merge=lfs -text
public/assets/Upholstery_disp.PSD filter=lfs diff=lfs merge=lfs -text
public/assets/Base_AO.psd filter=lfs diff=lfs merge=lfs -text
public/assets/Base_D[[:space:]][Amber].tif filter=lfs diff=lfs merge=lfs -text
public/assets/Base_D[[:space:]][Gold[[:space:]]and[[:space:]]Dark[[:space:]]Wood].png filter=lfs diff=lfs merge=lfs -text
*.obj filter=lfs diff=lfs merge=lfs -text
*.tif filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.FBX filter=lfs diff=lfs merge=lfs -text
*.mtl filter=lfs diff=lfs merge=lfs -text
*.babylon filter=lfs diff=lfs merge=lfs -text
*.glb filter=lfs diff=lfs merge=lfs -text
